@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-black: #0d1418;
  --color-dark: #181a1c;
  --color-light: #2d2d2d;
  --color-highlight: #3c3a3a;
  --color-light-blue: #6cb1e1;
  --color-mid-blue: #132b38;
  --color-dark-blue: #162128;
}
